.view {
  border: 1px#ededed solid;
  display: flex;
  justify-content: space-between;
  .label {
    width: 70%;
    #itemLabel {
      color: black;
    }
  }
  .destroy {
    visibility: hidden;
  }
  &:hover {
    .destroy {
      visibility: visible;
    }
  }
  &.completed {
    .label {
      #itemLabel {
        color: #d9d9d9;
        text-decoration: line-through;
      }
    }
  }
}
